
# folders
bin
lib
obj

# autotools files
autom4te.cache
.deps
.libs
Makefile
libtool
config.log
config.status
src/config.h
src/stamp-h1

# build
*.o
*.lo
*.a
*.la
src/lptest/lptest

# OSX
.DS_Store
*xcuserdata
*.xcworkspace

# temp files
*~
