
# folders
prj/obj

# autotools files
autom4te.cache
.deps
.libs
Makefile
Makefile.in
aclocal.m4
configure
config
config.log
config.status
libtool
src/config.h
src/stamp-h1


# build
*.o
*.lo
*.a
*.la
src/lptest/lptest

# OSX
.DS_Store
*xcuserdata
*.xcworkspace

# temp files
*~
